.card{
margin-top: 100px;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.card-header h3{
color: white;
}

.input-group{
    margin-top: 18px;
}

.login_btn{
    margin: 18px;
    color: black;
    background-color: #FFC312;
    width: 100px;
}

.login_btn:hover{
color: black;
box-shadow: 1px 1px 10px yellow;
}
