<div class="container">

    <form #inputField="ngForm" (ngSubmit)=onSubmit(inputField)>
        <div class="input-group mt-5">
            <input type="text" class="form-control" placeholder="Enter id/phone of peson tested virus +ve" required ngModel name="userInput">
            <button class="btn btn-outline-dark" type="submit" [disabled]="!inputField.valid">Get User Logs</button>
        </div>
    </form>

    <div class="card mt-5" *ngIf="showLogs" >
        <h3 class="text m-3">{{inputValue}} Logs</h3>
        <div class="card-body">
            <table class="table table-striped table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th>#userId</th>
                        <th>#premisesId</th>
                        <th>User Entry Date</th>
                        <th>User Entry Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let log of logs">
                        <td>{{log.userId}}</td>
                        <td>{{log.premisesId}}</td>
                        <td>{{log.userEntryDate}}</td>
                        <td>{{log.userEntryTime}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>