<div class="container">

    <!-- virus positive user input -->

    <form #inputUserId="ngForm" (ngSubmit)=onSubmit(inputUserId)>
        <div class="input-group mt-5">
            <input type="text" autocomplete="off" class="form-control m-1"
                placeholder="Enter id/phone of peson tested virus +ve" required ngModel name="userInput">
            <button class="btn btn-outline-dark m-1" type="submit" [disabled]="!inputUserId.valid">Get User
                Logs</button>
        </div>
    </form>



    <div class="card mt-5" *ngIf="showLogs">

        <!-- virus postive user details -->

        <div class="row mt-4">
            <div class="col-md-3"></div>

            <div class="col-md-3">
                <label class="fs-6">User Id</label>
                <h6>
                    1010
                </h6>

                <label class="fs-6">Name</label>
                <h6>
                    Augustine S Aykara
                </h6>

                <label class="fs-6">Location</label>
                <h6>
                    Pala, Kottayam, Kerala
                </h6>

            </div>
            <div class="col-md-3">
                <label class="fs-6">email Id</label>
                <h6>
                    augustineaykara@gmail.com
                </h6>

                <label class="fs-6">Mobile No.</label>
                <h6>
                    999999999
                </h6>
                <label class="fs-6">Status</label>
                <h6>
                    <span class="badge bg-danger">Positive</span>
                </h6>
            </div>

        </div>

        <!-- alert all users exposed with virus postive user -->

        <form #inputMsg="ngForm" (ngSubmit)=sendAlert(inputMsg)>
            <div class="input-group p-5">
                <label class="input-group-text" id="">Alert Message</label>
                <input type="text" autocomplete="off"
                    placeholder="You have been exposed to someone tested positive for virus. Stay Home Stay Safe"
                    class="form-control" required ngModel name="alertMsg">
                <button class="btn btn-warning" type="submit">Send Alert</button>
            </div>
        </form>

        <!-- virus positive user logs -->

        <h3 class="text mx-3">#{{inputValue}} Logs</h3>
        <div class="card-body">
            <table class="table table-striped table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th>#userId</th>
                        <th>#premisesId</th>
                        <th>User Entry Date</th>
                        <th>User Entry Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let log of logs">
                        <td>{{log.userId}}</td>
                        <td>{{log.premisesId}}</td>
                        <td>{{log.userEntryDate}}</td>
                        <td>{{log.userEntryTime}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>