<div class="container">

    <!-- virus positive user input -->

    <form #inputUserId="ngForm" (ngSubmit)=onSubmit(inputUserId)>
        <div class="input-group mt-5">
            <input type="text" autocomplete="off" class="form-control m-1"
                placeholder="Enter user id of person tested virus +ve" required ngModel name="userInput">
            <button class="btn btn-outline-dark m-1" type="submit" [disabled]="!inputUserId.valid">Get User
                Logs</button>
        </div>
    </form>

    <!-- Loader for http req  -->
    <div *ngIf="loaderService.isLoading | async" class="loader">Loading...</div>

    <div class="card mt-5" *ngIf="user">

        <!-- virus postive user details -->
        <h6 class="text-center fs-3 mt-3">{{user.userName}}</h6>
        <div class="row">

            <div class="col text-center">
                <span class="badge bg-secondary mb-1">User Id</span>
                <h6>
                    #{{user.userId}}
                </h6>

                <span class="badge bg-secondary mb-1">Location</span>
                <h6>
                    {{user.userLocation}}
                </h6>

            </div>
            <div class="col text-center">
                <span class="badge bg-secondary mb-1">email Id</span>
                <h6>
                    {{user.userMail}}
                </h6>

                <span class="badge bg-secondary mb-1">Mobile No.</span>
                <h6>
                    {{user.userMobile}}
                </h6>

            </div>

        </div>

        <!-- alert all users exposed with virus postive user -->

        <form #inputMsg="ngForm" (ngSubmit)=sendAlert(inputMsg)>
            <div class="input-group p-5">
                <label class="input-group-text" id="">Alert Message</label>
                <input type="text" autocomplete="off"
                    placeholder="You have been exposed to someone tested positive for virus. Stay Home Stay Safe"
                    class="form-control" required ngModel name="alertMsg">
                <button class="btn btn-warning" type="submit">Send Alert</button>
            </div>
        </form>


        <!-- virus positive user logs -->

        <h3 class="text mx-3">{{user.userName}} Logs</h3>
        <div class="card-body">
            <table class="table table-striped table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th>#userId</th>
                        <th>#premisesId</th>
                        <th>User Entry Date</th>
                        <th>User Entry Time</th>
                        <th></th>
                    </tr>
                </thead>



                <tbody>
                    <tr *ngFor="let log of logs">
                        <td>{{log.userId}}</td>
                        <td>{{log.premisesId}}</td>
                        <td>{{log.userEntryDate}}</td>
                        <td>{{log.userEntryTime}}</td>
                        <td><span class="badge rounded-pill bg-success" (click)="previewDetails(mymodal, log)">View
                                Details</span></td>

                    </tr>
                </tbody>

            </table>
        </div>
    </div>

</div>



<!-- exposed user/premises detail modal -->

<ng-template #mymodal let-modal>

    <div class="modal-body">
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col">
                    <h3> <span class="badge bg-white text-dark mb-1">User Details</span></h3>
                    <label class="badge bg-primary">User Id</label>
                    <p>
                        {{selectedUser.userId}}
                    </p>
                    <label class="badge bg-primary">Name</label>
                    <p>
                        {{selectedUser.userName}}
                    </p>
                    <label class="badge bg-primary">Mobile No</label>
                    <p>
                        {{selectedUser.userMobile}}
                    </p>
                    <label class="badge bg-primary">Mail Id</label>
                    <p>
                        {{selectedUser.userMail}}
                    </p>
                    <label class="badge bg-primary">Address</label>
                    <p>
                        {{selectedUser.userLocation}}
                    </p>
                </div>
                <div class="col">
                    <h3><span class="badge bg-white text-dark mb-1">Premises Details</span></h3>
                    <label class="badge bg-primary">Premises Id</label>
                    <p>
                        <!-- {{selectedPremises.premisesId}} -->
                        {{selectedUser.userId}}

                    </p>
                    <label class="badge bg-primary">Name</label>
                    <p>
                        {{selectedPremises.premisesName}}
                    </p>
                    <label class="badge bg-primary">Mobile No</label>
                    <p>
                        {{selectedPremises.premisesMobile}}
                    </p>
                    <label class="badge bg-primary">Mail Id</label>
                    <p>
                        {{selectedPremises.premisesMail}}
                    </p>
                    <label class="badge bg-primary">Address</label>
                    <p>
                        {{selectedPremises.premisesLocation}}
                    </p>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.close('Save click')">Close</button>
    </div>
</ng-template>